<script setup lang="ts">
    let title = "Toto je super nadpis";
    const count = ref(0);
</script>

<template>
    <div>
        <h1>{{ count }}</h1>
        <button v-on:click="count++">
            +
        </button>
        <button v-on:click="count--">
            -
        </button>
    </div>
</template>

<style lang="scss">
    body {
        background: blue;
        color: white;
    }

    button {
        width: 5%;
    }
</style>